<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<div class="jumbotron">

    <div class="row text-center">
        <img  width="400" height="400" th:src="@{/images/primal_athens.jpg}"/>
    </div>
</div>
</body>
</html>